<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>“智布”布匹瑕疵识别系统</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
	<script type="text/javascript" src="../static/js/echarts.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">“智布”</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html">主页<span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">附加功能<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="datas.html">数据集分析</a></li>
							<li><a href="standard.html">瑕疵识别标准</a></li>
							<li><a href="statistics.html">识别数据统计</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#footer">关于系统</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="main container">
		<div class="page-header">
			<h1>数据集分析 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <small>对给定的数据集进行了分析哦。</small></h1>
		</div>
	</div>
	
	<div class="container">
		
		<div class="chart">
			<div class="col-md-12 col-xs-12" >
				<div id="chart99"></div>
			</div>
			<div class="col-md-12 col-xs-12" >
				<div id="chart100"></div>
			</div>
			<div class="col-md-4 col-xs-12" >
				<table class="table table-bordered">
					<tr>
						<th>第一位</th>
						<th>品种</th>
					</tr>
					<tr>
						<td>L</td>
						<td>临时品种</td>
					</tr>
					<tr>
						<td>X</td>
						<td>打样品种</td>
					</tr>
					<tr>
						<td>C</td>
						<td>常规品种</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 col-xs-12" >
				<table class="table table-bordered">
					<tr>
						<th>第二位</th>
						<th>品种</th>
					</tr>
					<tr>
						<td>N</td>
						<td>尼丝纺</td>
					</tr>
					<tr>
						<td>T</td>
						<td>塔丝隆</td>
					</tr>
					<tr>
						<td>P</td>
						<td>春亚纺</td>
					</tr>
					<tr>
						<td>S</td>
						<td>桃皮绒</td>
					</tr>
					<tr>
						<td>J</td>
						<td>锦涤纺</td>
					</tr>
					<tr>
						<td>R</td>
						<td>麂皮绒</td>
					</tr>
					<tr>
						<td>D</td>
						<td>涤塔夫</td>
					</tr>
					<tr>
						<td>Q</td>
						<td>其它品种</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 col-xs-12" >
				<table class="table table-bordered">
					<tr>
						<th>第三位</th>
						<th>品种</th>
					</tr>
					<tr>
						<td>T</td>
						<td>平纹</td>
					</tr>
					<tr>
						<td>W</td>
						<td>斜纹</td>
					</tr>
					<tr>
						<td>B</td>
						<td>格子</td>
					</tr>
					<tr>
						<td>S</td>
						<td>缎纹</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	
	<footer id="footer">
		<p class="text-center footer">COPYRIGHT © zhibu 2019. ALL RIGHT RESERVED.</p>
		<p class="text-center">MADE WITH <span class="
			glyphicon glyphicon-heart"></span> BY HHUC hjm</p>
		</footer>
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/selectImg.js"></script>
		<script type="text/javascript" src="../static/js/laydate.js"></script>
		<script type="text/javascript" src="../static/js/datas.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	</body>
	</html>